
.contents-floated:after {
  content: "";
  display: table;
  clear: both;
}

.day-list-wrap {
  width: 12em;
  height: 6em;
  padding: 2em;
}

.day-wrap {
  float: left;
  width: 14.28%;
}

.day-item {
  cursor: pointer;
  background-color: lightgrey;
}

.day-item.active {
  background-color: lightgreen;
}

.month-button {
  float: left;
}

.month-button>button {
  padding: 0.3em;
}

.date-text-input {
  float: left;
  width: 6em;
  text-align: center;
}
